<?xml version="1.0"?>
<launch>	
	
	<include file = "$(find Robot_Arduino)/launch/Robot_Arduino.launch"/>

	<include file = "$(find Robot_filterdPose)/launch/Robot_filterdPose.launch"/>

	<node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0 0 0.05 0 0 0 1 base_footprint camera_link 100" />
	
	<include file = "$(find Robot_move)/launch/Robot_move.launch"/>

	<node type="rviz" name="rviz" pkg="rviz" args="-d /home/eldesouky/Desktop/miniRobot_ws/src/rviz/rvis_confMove.rviz" />

</launch>
